.static-table-box {
	overflow: auto;
	height: calc(100vh - 74px)
}

.table {
	width: 3500px;
	margin-top: 20px;
	td {
		height: 17px;
		line-height: 8px;
	}
}

.tag-mouth,
.year {
	vertical-align: middle;
}

thead {
	font-weight: bold;
	color: #555;
	& tr:nth-child(2) {
		height: 43px;
		line-height: 43px;
		td {
			line-height: 43px;
		}
	}
}



.color1 {
	background: #bdd7ee;
}

.color2 {
	background: #fce4d6;
}

.color3 {
	background: #ddebf7;
}

.color4 {
	background: #e2efda;
}

.color5 {
	background: #fce4d6;
}

.color6 {
	background: #fff2cc;
}
